nav {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    height: 4rem;

    #nav-logo {
        height: 100%;
        width: 4rem;
        position: relative;
    }

    .nav-cto {
        height: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: flex-end;

        .nav-links {
            position: absolute;
            width: 100vw;
            top: 100%;
            left: 0;
            padding: 0.3em 0 0 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 1rem;
            font-size: 1.25rem;
            background-color: #00000030;
           
            a {
                padding: 0.5em;
                width: 100%;
                font-weight: 600;

                
            }
        }
         
        .nav-links>a:last-child{

                background-color: #ffffff;
                color: #000000;
            
        } 

        .hamburger {
            height: 100%;
            width: 2.5rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;

            &:hover {
                cursor: pointer;
            }

            div {
                height: 3px;
                width: 100%;
                background-color: #fff;
                transition: all 100ms ease-in-out;
            }
        }

        .active-hamburger>div:first-child {
            transform: rotate(-40deg);
            translate: (-9px 12px);
        }

        .active-hamburger>div:nth-child(2) {
            opacity: 0;
        }

        .active-hamburger>div:last-child {
            transform: rotate(40deg);
            translate: (-9px -8px);
        }

    }

}